@import "tailwindcss";

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* Custom scrollbar styling */
.overflow-y-scroll::-webkit-scrollbar {
  width: 12px;
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 6px;
  border: 1px solid #4a5568;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background: #718096;
  border-radius: 6px;
  border: 1px solid #4a5568;
}

.overflow-y-scroll::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}

.overflow-y-scroll::-webkit-scrollbar-thumb:active {
  background: #cbd5e0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-hubspot: var(--hubspot);
  --color-dark: var(--dark);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-serif: var(--font-neuton);
  --font-sans: var(--font-noto-sans);
}

@media (prefers-color-scheme: light) {
  :root {
    --hubspot: #ff5c34;
    --dark: #fbf0e6;
    --secondary: rgb(207, 192, 178);
    --accent: rgb(207, 192, 178);
    --background: #f3e7dc;
    --foreground: #3a3a3a;
    --bg-image: url('/portfolio/bglight.svg');
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --hubspot: #ff5c34;
    --dark: #141412;
    --secondary: #4d4d4a;
    --accent: #30302e;
    --background: #262625;
    --foreground: #fefefe;
    --bg-image: url('/portfolio/bg.svg');
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: var(--font-neuton), Arial, Helvetica, sans-serif;
}
